@import url('http://fonts.googleapis.com/css?family=Josefin+Sans');
html, body{
	padding: 0px;
	margin: 0px;
	font-family: josefin sans;
}
#header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: #990000;
	width: 100%;

}
#header ul{
	list-style-type:none;
	margin-top: 0;
	padding: .5% 0;
	width: 100%;
}
#header ul li{
	font-family:josefin sans;
	font-size: 30px;
	font-weight:bold;
	color: white;
	display: inline;
}
#header ul li a{
	color:#fff;
	text-decoration: none;
}
#header ul li:first-child{
	margin-right: 11%;
	margin-left: 1%;

}
#header ul li:last-child{
	float:right;
	margin-right: 1%;
}
#headimagebackground{
	width: 100%;
	height: 400px;
	margin-top: 3.5%; 
	
}

#sidemenu ul{
	list-style-type:none;
	background-color: #750001;
	padding:0;
	margin: 0;
	top: 0;
	left: 0;
	 z-index: 100; 
	 position: fixed; 
	width:13%;
	height:100%;
	position: fixed;
	overflow: auto;
}
#sidemenu ul li a{
	padding: 17px 30px;
	text-decoration: none;
	font-family: Josefin Sans;
	font-size: 28px;
	color: #fff;
	display: block;
	text-align: center;
	
	font-weight: bold;
}
#sidemenu ul li a:hover:not(#spirit){
	border-bottom:3px solid  #FFEAEA;

}

#spirit{
	font-family: josefin sans;
	font-size: 30px;
	color: #FFEAEA;
	border-bottom: 3px solid #FFEAEA;
	border-radius: 0px;
}
#maindiv{
	width:74%;
	background-color: #FDF6F6;
	margin: auto;
	height: auto;

	
}
#slide1{
	height: 500px;
	width: 100%;
	margin: auto;
}
#slide2{
	height: 500px;
	width: 100%;
	margin: auto;
}
#slide3{
	height: 500px;
	width: 100%;
	margin: auto;
}
#imageslider{
	width: 80%;
	margin: auto;
	height: 500px;
	box-shadow: 0 0 20px rgba(0,0,0,0.7); 
}
.heading{
	font-size: 42px;
	font-weight: bold;
	font-style: italic;
	padding: 2.5% 3%;
	margin: 0;
}
.text{
	line-height: 1.5;
	font-size: 26px;
	padding: 0 3%;
}
#footer{
	background-color: #808080;

}
#footerbar{
	list-style-type:none;
	padding:0px;
	margin: 0px;
	overflow: hidden;
	width: 100%;

}

#footerbar li{
	float: left;

}
#footerbar li a{
	text-decoration:none;
	display: inline-block;
	text-align: center;
	padding : 14px 30px;
	font-size: 22px;
	font-family: Josefin Sans;
	font-weight: bold;
	color: #000;
}
#footerbar li a:hover{
	color: #B0E0E6;
}
#footerbar li:first-child{
	padding-left: 15%;
}