@import url('http://fonts.googleapis.com/css?family=Josefin+Sans');
body{
	padding: 0px;
	margin: 0px;
	font-family: josefin sans;
}
#header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: #D1D152;
	width: 100%;
}
#header ul{
	list-style-type:none;
	margin-top: 0;
	padding: .5% 0;
	
}
#header ul li{
	font-family:josefin sans;
	font-size: 30px;
	font-weight:bold;
	color: white;
	display: inline;
}
#header ul li a{
	color:#fff;
	text-decoration: none;
}
#header ul li:first-child{
	margin-right: 11%;
	margin-left: 1%;

}
#header ul li:last-child{
	float:right;
	margin-right: 1%;
}
#headimagebackground{
	width: 100%;
	height: 300px;
	margin-top: 4%; 
}
#sidemenu ul{
	list-style-type:none;
	background-color: #C9C906;
	padding:0;
	margin: 0;
	top: 0;
	left: 0;
	 z-index: 100; 
	 position: fixed; 
	width:100%;
	height:100%;
	position: fixed;
	overflow: auto;
}
#sidemenu ul li a{
	padding: 17px 0;
	text-decoration: none;
	font-family: Josefin Sans;
	font-size: 24px;
	color: #fff;
	display: block;
	text-align: center;
	
	font-weight: bold;
}
#sidemenu ul li a:hover:not(#spirit){
	color: #000;

}

#spirit{
	font-family: josefin sans;
	font-size: 30px;
	color: #FFFFBD;
	border-bottom: 3px solid #FFFFBD;
	border-radius: 0px;
}
#maindiv{
	width:84%;
	background-color: #FFFFCF;
	margin: auto;
	height: auto;

	
}
#menu{
	margin: 0;
	padding: 0;
	width: 100%;
}
#menu li{
	display: inline-block;
	margin: 0 0.9%;
	padding: 1% 3%;
	
}
#menu li a:link, #menu li a:visited{
	text-decoration: none;
	color: #001117;
	font-size: 26px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}
#menu li a:hover, #menu li a:active{
	text-decoration: none;
	color: #787D14;
	font-size: 26px;
	font-weight: bold;
	font-style: italic;
}
#maps{
	 width: 50%; height: 320px; frameborder: 0; border:0; 
}
#introbox{
	width: 80%;
	margin: auto;
	margin-top: 2%;
	padding: 1%;
}
#introtext{
	font-size: 22px;
	line-height: 1.5;
}
#reachbox{
	width: 80%;
	margin: auto;
	margin-top: 2%;
	padding: 1%;
}
#reachbox p{
	font-size: 22px;
	line-height: 1.5;
}
#instructionbox{
	width: 80%;
	margin: auto;
	margin-top: 2%;
	padding: 1%;
}
#instructionbox ul li{
	font-size: 22px;
	line-height: 1.5;
}
#contactusbox{
	width: 80%;
	margin: auto;
	margin-top: 2%;
	padding: 1%;
}
#contactusbox p{
	font-size: 22px;
	line-height: 1.5;
}
#contactusbox p a{
	text-decoration: none;
	color: #000;
	font-style: italic;
}
#footerbar{
	list-style-type:none;
	padding:0px;
	margin: 0;
	background-color: #808080;
	overflow: hidden;
	width: 100%;

}

#footerbar li{
	float: left;
	padding : 1% 1.2%;
}
#footerbar li a{
	text-decoration:none;
	display: inline-block;
	text-align: center;
	
	font-size: 22px;
	font-family: Josefin Sans;
	font-weight: bold;
	color: #000;
}
#footerbar li a:hover{
	color: #B0E0E6;
}
#footerbar li:first-child{
	padding-left: 4%;
}
#rights{
	display: none;
}